$wightColor: #ffffff;
$darkGreyColor: #858585;


$darkGreen: #227200;
$smallBorderRadius: 5px;
$simpleTextSizeSmall: 90%;
$simpleTextSizeMedium: 120%;
$mediumScreenMaxWidth: 1199px;
$largeScreenMinWidth: 1200px;